{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="w3-container w3-card-4"><br>
    <div class="w3-container-review w3-mobile" style="width: 900px;">
        <div class="w3-container w3-padding">
            <form action="{% url 'usuarios:cadastro' %}" method="POST">
                {% csrf_token %}
                <div class="w3-mobile w3-row-padding">
                    <div class="w3-container">
                        <label for="Nome"><b>Nome completo</b></label>
                        <input type="text" class="w3-input w3-border w3-round" name="nome" placeholder="Nome Sobrenome" required>
                    </div>
                    <div class="w3-container">
                        <label for="email"><b>Email</b></label>
                        <input type="email" class="w3-input w3-border w3-round" name="email" placeholder="email@email.com" required>
                    </div>
                    <div class="w3-container">
                        <label for="password"><b>Senha</b></label>
                        <input type="password" class="w3-input w3-border w3-round" name="password" placeholder="Digite sua senha" required>
                    </div>
                    <div class="w3-container">
                        <label for="password2"><b>Confirmação de senha</b></label>
                        <input type="password" class="w3-input w3-border w3-round" name="password2" placeholder="Digite sua senha mais uma vez" required>
                    </div>
                    <br> <br>
                    <div class="col-12 text-center">
                        <button class="w3-button w3-amber w3-hover-black" type="submit">Criar conta</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}