{% extends 'usuarios/baseusuarios.html' %}
{% load static %}
{% block content %}

<main class="conteudo-catalogo">

    <div class="w3-row-padding w3-padding-16 w3-center">
        {% for cervejas in cervejas %}
        <div class="w3-quarter">
            <div class="w3-display-container">
                {% if cervejas.foto_cerveja %}
                <img id="imagemcatalogo" src="{{ cervejas.foto_cerveja.url }}" alt="Foto de uma cerveja" style="width:100%; height: 280px;">
                {% else %}
                <img id="imagemcatalogo" src="{% static 'beer.jpg' %}" alt="Foto de uma cerveja" style="width:100%; height: 280px;">
                {% endif %}
                <div class="w3-display-topright w3-container"><a href="{% url 'home:cervejas' cervejas.id %}"><button
                                class="w3-button w3-block w3-black">+</button></a></div>
            </div>
            <a href="{% url 'home:cervejas' cervejas.id %}">
                <h3 class="w3-text-amber">{{ cervejas.nome_cerveja }}</h3>
            </a>
            <p>{{ cervejas.descricao_cerveja|truncatechars:100 }}</p>
            <a href="{% url 'usuarios:edita_cerveja' cervejas.id %}" type="button" class="w3-button w3-amber">Editar</a>
            <a href="{% url 'usuarios:deleta_cerveja' cervejas.id %}" type="button" class="w3-button w3-red">Deletar</a>
        </div>
        {% endfor %}
    </div>

    <div class="w3-center">
        <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-hover-amber">&laquo;</a>
            <a href="#" class="w3-button w3-hover-amber">1</a>
            <a href="#" class="w3-button w3-hover-amber">2</a>
            <a href="#" class="w3-button w3-hover-amber">3</a>
            <a href="#" class="w3-button w3-hover-amber">4</a>
            <a href="#" class="w3-button w3-hover-amber">&raquo;</a>
        </div>
    </div>



</main>

{% endblock %}