{% extends 'usuarios/baseusuarios.html' %}
{% load static %}
{% block content %}

<div class="w3-container w3-card-4"><br>
    <div class="w3-container-review w3-mobile" style="width: 900px;">
        <div class="w3-container w3-padding">
            <form action="{% url 'usuarios:review' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="w3-row-padding">
                    <div class="w3-third">
                        <label for="nome_cerveja"><b>Nome da cerveja</b></label>
                        <input type="text" class="w3-input w3-border w3-round" name="nome_cerveja" required>
                    </div>
                    <div class="w3-third">
                        <label for="origem_cerveja"><b>Origem da cerveja</b></label>
                        <input type="text" class="w3-input w3-border w3-round" name="origem_cerveja" required>
                    </div>
                    <div class="w3-third">
                        <label for="familia_cerveja"><b>Família da cerveja</b></label>
                        <input type="text" class="w3-input w3-border w3-round" name="familia_cerveja" required><br><br>
                    </div>
                    <div class="w3-third">
                        <label for="tipo_cerveja"><b>Tipo da cerveja</b></label>
                        <input type="text" class="w3-input w3-border w3-round" name="tipo_cerveja" required>
                    </div>
                    <div class="w3-third">
                        <label for="descricao_cerveja"><b>Descrição da cerveja</b></label>
                        <input type="text" class="w3-input w3-border w3-round" name="descricao_cerveja" required>
                    </div>
                    <div class="w3-third">
                        <label for="nota_cerveja"><b>Nota da cerveja</b></label>
                        <input type="number" class="w3-input w3-border w3-round" name="nota_cerveja" required><br><br>
                    </div>
                    <div class="w3-half">
                        <label for="quantidade_alcool"><b>Quantidade de álcool</b></label>
                        <input type="number" class="w3-input w3-border w3-round" name="quantidade_alcool" required>
                    </div>
                    <div class="w3-half">
                        <label for="file"><b>Foto da cerveja</b></label>
                               <input type="file" class="w3-input w3-border w3-round" name="foto_cerveja" required><br>
                        <br>
                    </div>
                    

                    <div class="col-12 text-center">
                        <button class="w3-button w3-amber w3-hover-black" type="submit">Enviar review</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}