{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="conteudo w3-row">

  <div class="home__banner w3-hide-medium w3-hide-small"></div>

  <div class="home__text w3-block w3-amber w3-text-black w3-image" style="width:340px">
    <h1>Beer Review</h1>
    <p>Um site para que você possa criar avaliações de cervejas. Mostre para todos o nome, origem, família, tipo e
      quantidade de álcool das cervejas que você mais gosta. E, caso queira, você pode enviar uma foto bacana para que
      todo mundo possa ver. Confira as reviews de outros amantes de cervejas no nosso catálogo. Desta forma, se a sua
      criatividade acabar, você sempre terá o Beer Review para conferir novos rótulos.</hp><br><br>
      <a href="{% url 'usuarios:login' %}"><button class="w3-button w3-block w3-black w3-hover-grey" type="button">Enviar
          Review</button></a>
  </div>
</main>

{% endblock %}