{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="conteudo-catalogo">

    <div class="w3-row-padding w3-padding-16 w3-center">
        {% for cervejas in cervejas %}
        <div class="w3-quarter">
            <div class="w3-display-container">
                <img src="{% static 'logo.png' %}" alt="Sandwich" style="width:90%">
                <div class="w3-display-topright w3-container"><a href="{% url 'cerveja' %}"><button
                        class="w3-button w3-block w3-black">+</button></a></div>
            </div>
            <h3>{{ cervejas.id }}</h3>
            <p>{{ cervejas.description }}</p>

        </div>
        {% endfor %}
    </div>

    <div class="w3-center">
        <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-hover-amber">&laquo;</a>
            <a href="#" class="w3-button w3-hover-amber">1</a>
            <a href="#" class="w3-button w3-hover-amber">2</a>
            <a href="#" class="w3-button w3-hover-amber">3</a>
            <a href="#" class="w3-button w3-hover-amber">4</a>
            <a href="#" class="w3-button w3-hover-amber">&raquo;</a>
        </div>
    </div>



</main>

{% endblock %}